@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************************************************************************************************************************************/
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  width: 288px;
  height: 70px;
  background: #141414;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transition: 500ms linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.button:hover {
  background: #28553f;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.header {
  background: url(/img/bacground-header-big.png) 0 0/cover, no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
}
.header__logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 1278px) {
  .header__logo-menu {
    display: block;
  }
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media screen and (max-width: 1278px) {
  .header__logo img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 570px) {
  .header__logo {
    padding-top: 50px;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 33px 9px rgba(255, 255, 255, 0.03);
          box-shadow: 0px 0px 33px 9px rgba(255, 255, 255, 0.03);
  margin: 50px 0 0 0;
  padding: 0 -20px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.header__menu a {
  color: white;
  list-style-type: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 40px;
}
.header__menu a:hover {
  border-bottom: 2px solid #ffffff;
}
@media screen and (max-width: 1008px) {
  .header__menu {
    display: none;
    height: 100%;
  }
}
.header__last-child {
  padding-right: 500rem;
}
@media screen and (max-width: 1008px) {
  .header__last-child {
    padding-right: 0;
  }
}
.header__window {
  position: absolute;
  top: 312px;
  left: -473px;
}
@media screen and (max-width: 1449px) {
  .header__window {
    left: -273px;
  }
}
@media screen and (max-width: 1278px) {
  .header__window {
    top: 412px;
    left: -223px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
}
@media screen and (max-width: 1110px) {
  .header__window {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@media screen and (max-width: 1010px) {
  .header__window {
    position: static;
  }
}
.header__slider {
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  padding-top: 200px;
}
@media screen and (max-width: 1278px) {
  .header__slider {
    padding-top: 300px;
  }
}
@media screen and (max-width: 1100px) {
  .header__slider {
    max-width: 85%;
  }
}
@media screen and (max-width: 1010px) {
  .header__slider {
    padding-top: 150px;
    max-width: 100%;
  }
}
.header__slider img {
  max-width: 100%;
  max-height: 100%;
}
.header__slider-container {
  position: relative;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1010px) {
  .header__slider-container {
    position: relative;
  }
}
.header .header__arrows {
  padding: 20px 0 0 100px;
}
.header .header__arrows button {
  margin-right: 7px;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px white solid;
  -webkit-border-radius: 1px white dashed;
  -moz-border-radius: 1px white dashed;
  -ms-border-radius: 1px white dashed;
  -o-border-radius: 1px white dashed;
}
.header .header__arrows button img {
  padding-left: 8px;
}
.header .header__arrows button:last-child {
  background: #28553f;
  border: none;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
@media screen and (max-width: 1010px) {
  .header .header__arrows {
    display: none;
  }
}

.cap-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
  padding: 20px 0 0 0;
}
.cap-header__items span {
  display: inline-block;
  color: white;
}
@media screen and (max-width: 855px) {
  .cap-header__items span {
    display: none;
  }
}
.cap-header__items img {
  width: 23px;
  height: 23px;
}

.info-header {
  max-width: 743px;
  padding: 70px 60px 60px 100px;
  background-color: #000000;
  z-index: 2;
}
.info-header__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #9c9c9c;
  display: inline-block;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.info-header .info-header__title:after {
  content: "";
  margin: 0.35rem 15px;
  display: inline-block;
  width: 82px;
  background-color: #9c9c9c;
  height: 0.4px;
}
.info-header__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
}
.info-header__subtitle span {
  color: #28553f;
}
.info-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1010px) {
  .info-header {
    position: absolute;
    top: -389px;
    left: 0;
  }
}
@media screen and (max-width: 810px) {
  .info-header {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@media screen and (max-width: 710px) {
  .info-header {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
}

.result .result__hr {
  margin-top: 60px;
  max-width: 120px;
}
.result__logo {
  padding-bottom: 50px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #282A30;
}
.result__logo span {
  color: #28553F;
}
.result__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 811px) {
  .result__body {
    display: block;
  }
}

.body-result__colomn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.body-result__row {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}
.body-result__logo-reverce {
  text-align: end;
}
.body-result__arrow-number {
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-result__arrow-number span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  padding-top: 18px;
  position: relative;
}
.body-result__arrow-number span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 30px;
  width: 100%;
  height: 1px;
  background-color: #28553F;
  text-align: center;
}
.body-result__arrow-number-rewerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 30px;
    width: 100%;
    padding: 0 30px;
    height: 1px;
    background-color: #28553F;
    text-align: center;
  }*/
}
.body-result__arrow-number-rewerce span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20px;
          flex: 0 1 20px;
  display: block;
  padding-top: 18px;
  position: relative;
}
.body-result__arrow-number-rewerce span img {
  width: 15px;
  height: 10px;
}
.body-result__arrow-number-rewerce .body-result__hr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  height: 1px;
  margin-top: 22px;
  background-color: #28553F;
  margin-right: 10px;
}
.body-result__number-rewerce {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46px;
          flex: 0 0 46px;
  width: 46px;
  height: 46px;
  background: #28553F;
  color: white;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.body-result__number {
  width: 46px;
  height: 46px;
  background: #28553F;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-left: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/***************************************************************************************************************************************/
.slider-rock hr {
  max-width: 120px;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.slider-rock__cap {
  margin: 0;
}
.slider-rock__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.slider-rock__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: #282A30;
}
.slider-rock__logo span {
  color: #28553F;
}
@media screen and (max-width: 440px) {
  .slider-rock__logo {
    font-size: 22px;
  }
}
.slider-rock__arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 5px;
  border: 1px solid;
  margin-left: 7px;
  width: 45px;
  height: 45px;
  border-color: rgb(229, 229, 229);
  cursor: pointer;
  background-color: white;
}
.slider-rock__arrow img {
  text-align: center;
  margin: 0 auto;
}
.slider-rock .slider-rock__arrow:last-child {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.slider-rock__seeall {
  text-align: right;
  display: block;
  padding-top: 60px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  color: #282A30;
}
.slider-rock__seeall img {
  display: inline-block;
  margin: 0 0 3px 11px;
}
.items-slider-rock {
  padding-bottom: 50px;
  display: grid;
  gap: 12px;
  grid-template: "head head body body body" 1fr "three three three four four" 1fr/1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 620px) {
  .items-slider-rock {
    display: block;
  }
}
.items-slider-rock__item:nth-child(1) {
  grid-area: head;
}
.items-slider-rock__item:nth-child(2) {
  grid-area: body;
}
.items-slider-rock__item:nth-child(3) {
  grid-area: three;
}
.items-slider-rock__item:nth-child(3) img {
  -o-object-fit: none;
     object-fit: none;
}
.items-slider-rock__item:nth-child(4) {
  grid-area: four;
}
.items-slider-rock__item {
  max-height: 340px;
  position: relative;
}
.items-slider-rock__item:nth-child(even) p {
  padding-top: 12px;
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 10;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(177.34deg, rgba(0, 0, 0, 0.87) 2.22%, rgba(0, 0, 0, 0.5481) 97.78%);
  min-width: 460px;
  min-height: 58px;
  text-align: center;
}
@media screen and (max-width: 1230px) {
  .items-slider-rock__item:nth-child(even) p {
    min-width: 300px;
  }
}
@media screen and (max-width: 815px) {
  .items-slider-rock__item:nth-child(even) p {
    min-width: 210px;
    font-size: 20px;
  }
}
.items-slider-rock__item:nth-child(odd) p {
  padding-top: 12px;
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 10;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(177.34deg, rgba(0, 0, 0, 0.87) 2.22%, rgba(0, 0, 0, 0.5481) 97.78%);
  min-width: 470px;
  min-height: 58px;
  text-align: center;
}
@media screen and (max-width: 1230px) {
  .items-slider-rock__item:nth-child(odd) p {
    min-width: 300px;
  }
}
@media screen and (max-width: 815px) {
  .items-slider-rock__item:nth-child(odd) p {
    min-width: 210px;
    font-size: 20px;
  }
}
.items-slider-rock__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/***************************************************************************************************************************************/
.stock {
  background-image: url(/img/stock_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.stock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stock__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.stock__product {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.item-body {
  padding: 40px 20px 50px 100px;
  min-width: 707px;
  max-height: 438px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62.37%, rgba(0, 0, 0, 0.87)), to(rgba(0, 0, 0, 0.2436)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.87) 62.37%, rgba(0, 0, 0, 0.2436) 100%);
  overflow: hidden;
}
.item-body hr {
  max-width: 120px;
  margin: 0;
}
.item-body__logo {
  max-width: 520px;
  padding-top: 20px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 43px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.item-body__logo span {
  color: #28553F;
}
.item-body__text {
  padding: 50px 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.product-stock {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 30px;
}/*# sourceMappingURL=style.css.map */